{% if messages %}

    <div class="container-fluid px-4 pt-3">

        {% for message in messages %}

            <div
                class="alert
                {% if message.tags == 'error' %}
                    alert-danger
                {% elif message.tags == 'success' %}
                    alert-success
                {% elif message.tags == 'warning' %}
                    alert-warning
                {% elif message.tags == 'info' %}
                    alert-info
                {% else %}
                    alert-secondary
                {% endif %}
                alert-dismissible fade show"
                role="alert"
            >

                <div class="d-flex align-items-center">

                    {% if message.tags == "success" %}

                        <i class="bi bi-check-circle-fill me-2"></i>

                    {% elif message.tags == "error" %}

                        <i class="bi bi-exclamation-triangle-fill me-2"></i>

                    {% elif message.tags == "warning" %}

                        <i class="bi bi-exclamation-circle-fill me-2"></i>

                    {% elif message.tags == "info" %}

                        <i class="bi bi-info-circle-fill me-2"></i>

                    {% else %}

                        <i class="bi bi-info-circle me-2"></i>

                    {% endif %}


                    <div>
                        {{ message }}
                    </div>

                </div>


                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="alert"
                    aria-label="Fermer"
                ></button>

            </div>

        {% endfor %}

    </div>

{% endif %}